* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.form-wrapper {
  width: 600px;
  margin: 0 auto;
  background: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: left;
}

.field-container {
  padding: 6px 0;
}

.field-container label {
  font-size: 14px;
  display: block;
  padding-bottom: 5px;
}

.field-container input {
  width: 100%;
  padding: 5px;
}

.form-wrapper button {
  background: #666;
  color: #fff;
  margin-top: 12px;
}

.error {
  font-size: 13px;
  color: red;
}