@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  background: #FAFAFA;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  box-sizing: border-box;
}


.app-container {
  width: 100%;
  display: flex;
  height: 100vh;
}

.app-container .sidebar {
  width: 350px;
  background: #222534;
  padding: 20px;
  border-right: 1px solid #fff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);
}

.app-container .content-wrapper {
  flex: 1;
  /* padding-left: 30px; */
}

.app-container .sidebar .logo {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  border-bottom: 1px solid #323232;
  min-height: 80px;
  max-height: 80px;
}

.app-container .sidebar .logo img {
  max-width: 65%;
  height: auto;
  margin: auto;
}

.app-container .sidebar .menus {
  padding-top: 30px;
  margin-top: 30px;
}

.app-container .sidebar .menus ul {
  padding: 0;
  margin: 0;
}

.app-container .sidebar .menus ul li {
  list-style: none;
  font-size: 16px;
  color: #fff;
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  align-items: center;
  min-height: 100px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 200;
}

.header .search {
  flex: 1;
}

.header .search input {
  width: 100%;
  height: 38px;
  padding: 3px 10px;
  font-size: 17px;
  border: 0;
}

.header .search input:focus {
  border: 0;
  outline: 0;
}

.header .logout-dropdown {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 160px;
  position: absolute;
  top: 80px;
  right: 20px;
  background: #fff;
  border-radius: 10px;
}

.header .logout-dropdown div {
  cursor: pointer;
}

.header .user-dropdown {
  color: #666;
  font-size: 15px;
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.controls-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.controls-wrapper .filter button {
  border: 1px solid #ccc;
  background: #fff;
  padding: 12px;
  width: 120px;
  height: 38px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  font-size: 16px;
  color: #000;
}

.controls-wrapper .add-new-task button {
  border: 1px solid #1e1e1e;
  background: #2a2a2a;
  padding: 12px;
  min-width: 120px;
  height: 38px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.taskList-wrapper {
  padding: 20px;
}

.taskList-wrapper h2 {
  font-size: 16px;
  color: #666;
}

.taskList-wrapper .task-item {
  background: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  gap: 16px;
  border-radius: 12px;
  margin: 12px 0;
}

.taskList-wrapper .task-item .title-wrapper {
  flex: 1;
}

.taskList-wrapper .task-item .title-wrapper h4 {
  font-weight: bold;
  color: #000;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.taskList-wrapper .task-item .title-wrapper p {
  color: #000;
  padding: 0;
  margin: 0;
  font-size: 14px;
  padding-top: 8px;
}

.taskList-wrapper .task-item .dates-wrapper {
  display: flex;
  gap: 16px;
  font-size: 14px;
}

.taskList-wrapper .task-item .dates-wrapper strong {
  font-weight: bold;
  color: #000;
}

.taskList-wrapper .task-item .task-priority {
  font-size: 14px;
}

.taskList-wrapper .task-item .task-priority strong {
  font-weight: bold;
  color: #000;
}


.taskList-wrapper .task-item .task-assignee {
  font-size: 14px;
}

.taskList-wrapper .task-item .task-assignee strong {
  font-weight: bold;
  color: #000;
}

.error {
  font-size: 14px;
  color: red;
}

.field-container {
  width: 100%;
}

.addNewTask-wrapper {
  padding: 20px;
  position: absolute;
  background: #fff;
  width: 30%;
  height: calc(100vh - 102px);
  top: 101px;
  right: 0;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.field-container input,
.field-container select,
.field-container textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.field-container label {
  display: block;
  font-size: 16px;
  padding-bottom: 5px;
}

.login-wrapper {
  width: 400px;
  background: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: absolute;
  right: 15px;
  top: 79px;
  border-radius: 12px;
}

.login-wrapper .field-wrapper {
  width: 100%;
  padding-top: 10px;
}

.login-wrapper .field-wrapper label {
  width: 100%;
  display: block;
  font-size: 14px;
  padding-bottom: 6px;
}

.login-wrapper .field-wrapper input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #eee;
  padding: 6px;
  border-radius: 8px;
}